QGroupBox{
	border: 1px solid gray;
	border-radius:10px;
	margin-top:4ex;
	font-family:SegoeUI;
	font:bold 16px;
}
QGroupBox::title
{
	subcontrol-origin:margin;
	subcontrol-position:top left;
	padding:1px;
}
QGroupBox::enabled{
	border: 2px solid gray;
}
QGroupBox::!enabled {
	border: 1px solid gray;
}

QScrollArea{
    border: 3px solid gray;
	border-radius:10px;
	margin-top:4ex;
	font-family:SegoeUI;
	font:bold 16px;
}
